* {
  box-sizing: border-box;
}

body {
  background: #020202;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}

h2,
h3 {
  line-height: 1.2;
  font-weight: 900;
}

.btn {
  padding: 20px 40px;
  border: 1px solid #fff;
  border-radius: 16px;
  margin-top: 40px;
  font-weight: 900;
  font-size: 1.25rem;
}

.d-flex {
  display: flex;
}

.justify-content-sb {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.container-top > div,
.header {
  margin-bottom: 160px;
}

.header {
  max-width: 1296px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #fff;
  position: relative;
}
.header .logo h1 {
  line-height: 1;
}
.header .logo a {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 245px;
  height: 40px;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.header .menu a {
  font-weight: 700;
  padding-left: 20px;
  transition: color 0.3s;
}
.header .menu a:hover {
  color: #cccccc;
}
.header .menu-btn {
  display: none;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}
.header .menu-btn span {
  color: #fff;
}
.header .menu-collapse {
  position: absolute;
  top: 101%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  height: calc(100vh - 80px);
  flex-direction: column;
  background: #020202;
}
.header .menu-collapse-list-pages {
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}
.header .menu-collapse-list-pages a {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  transition: color 0.3s;
}
.header .menu-collapse-list-pages a:hover {
  color: #cccccc;
}
.header .menu-collapse-list-pages a:not(:last-child) {
  margin-bottom: 8px;
}
.header .menu-collapse-footer {
  padding: 0 12px;
  width: 100%;
}
.header .menu-collapse-list-copyright {
  border-top: 1px solid #fff;
  padding: 20px 0;
}
.header .menu-collapse-list-copyright li:not(:last-child) {
  margin-bottom: 12px;
}
.header .menu-collapse-list-copyright span {
  padding: 12px 0;
  font-weight: 700;
}
.header .menu-collapse-list-copyright a {
  margin-right: 20px;
  font-weight: 700;
  padding: 12px 0;
  transition: color 0.3s;
}
.header .menu-collapse-list-copyright a:hover {
  color: #cccccc;
}

.banner h2 {
  font-size: 7.5rem;
  margin-top: 40px;
}
.banner a {
  transition: all 0.3s;
}
.banner a:hover {
  color: #cccccc;
  border-color: #cccccc;
}
.banner .banner-animation {
  text-align: right;
  font-size: 0;
}
.banner .banner-animation span {
  display: inline-block;
  width: 180px;
  overflow: hidden;
}
.banner .banner-animation span:nth-of-type(2) img {
  animation-delay: 1s;
}
.banner .banner-animation span:first-child img {
  animation-delay: 1.2s;
}
.banner .banner-animation span:last-child img {
  animation-delay: 0.8s;
}
.banner .banner-animation img {
  transform: translateY(100%);
  animation: arrow linear 2s infinite;
}
@keyframes arrow {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.service .service-head {
  margin-bottom: 80px;
}
.service .service-head h2 {
  font-size: 2rem;
  margin-right: 24px;
  flex-shrink: 0;
  flex-basis: 414px;
}
.service .service-head h3 {
  font-size: 3rem;
}
.service .service-list li {
  max-width: 416px;
  padding: 80px 40px;
  border: 1px solid #525252;
  border-radius: 16px;
}
.service .service-list .material-icons {
  font-size: 80px;
}
.service .service-list h2 {
  font-size: 2rem;
  margin: 20px 0;
}

.partner h2 {
  font-size: 2rem;
  margin-bottom: 80px;
}
.partner .partner-list {
  position: relative;
  flex-direction: column;
  overflow-x: scroll;
}
.partner .partner-list::-webkit-scrollbar {
  display: none;
}
.partner .partner-list::before, .partner .partner-list::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  display: inline-block;
  width: 196px;
  height: 100px;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.partner .partner-list::after {
  left: auto;
  right: 0;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.partner li {
  overflow-x: scroll;
}
.partner li::-webkit-scrollbar {
  display: none;
}
.partner li:nth-child(2) {
  transform: translateX(-90px);
  margin-top: 20px;
}
.partner img {
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 20px;
}

.recommend-list li {
  padding: 40px;
  width: 416px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
}
.recommend-list .recommend-icon i {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
  background: #020202;
  background-image: url(../images/icons/star.svg);
}
.recommend-list .recommend-content {
  margin: 20px auto;
  min-height: 215px;
  color: #f2f2f2;
}
.recommend-list .recommend-info-img {
  margin-right: 16px;
}
.recommend-list .recommend-info-user h3 {
  margin-bottom: 4px;
  font-weight: 700;
  line-height: 1.5;
}

.swiper {
  padding-bottom: 24px;
}

.swiper-pagination.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: #525252;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.bg-white {
  background: #fff;
  border-radius: 160px;
  justify-content: center;
  padding: 160px 0;
}

.tools .tools-title {
  font-size: 5rem;
  margin-bottom: 80px;
  color: #020202;
}
.tools input[type=search] {
  width: 100%;
  padding: 20px 40px;
  border-radius: 16px;
  border: none;
  outline: none;
  background: #f2f2f2;
  margin-bottom: 24px;
  position: relative;
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: center;
  text-indent: 28px;
}
.tools input[type=search]::-moz-placeholder {
  color: #919191;
}
.tools input[type=search]::placeholder {
  color: #919191;
}

.tools-filter {
  margin-bottom: 40px;
}

.filter-btn {
  outline: none;
  margin-top: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  justify-content: center;
  border: 1px solid #f2f2f2;
  background: none;
  cursor: pointer;
}
.filter-btn .filter-type-text {
  margin-right: 12px;
}

.filter-type {
  position: relative;
}
.filter-type .filter-type-list {
  position: absolute;
  left: 0;
  padding: 20px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  min-width: 240px;
  margin-top: 4px;
  background: #fff;
  z-index: 1;
  display: none;
}
.filter-type .filter-type-list-head span {
  display: inline-block;
  font-weight: 700;
  color: #919191;
  font-size: 0.75rem;
  margin-bottom: 4px;
  padding-left: 40px;
}
.filter-type .line {
  display: block;
  margin: 16px auto;
  height: 1px;
  background: #f2f2f2;
  width: calc(100% - 80px);
  margin-bottom: 8px;
  padding: 0 40px;
}
.filter-type .filter-type-list-item li:hover {
  background: #f2f2f2;
}
.filter-type .filter-type-list-item a {
  padding: 4px 40px;
  color: #020202;
}

.tools-filter-list li {
  margin-right: 8px;
}
.tools-filter-list li:last-child {
  margin-right: 0;
}
.tools-filter-list li:hover a {
  color: #020202;
}
.tools-filter-list a {
  padding: 8px 16px;
  color: #919191;
  border-radius: 16px;
  transition: color 0.3s;
}
.tools-filter-list .tools-filter-list-style {
  background: #f2f2f2;
  font-weight: 700;
  color: #020202;
}

.filter-date {
  position: relative;
}
.filter-date .filter-date-list {
  position: absolute;
  right: 0;
  padding: 20px 0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin-top: 4px;
  background: #fff;
  display: none;
  z-index: 1;
}
.filter-date .filter-date-list li:hover {
  background: #f2f2f2;
}
.filter-date .filter-date-list a {
  color: #020202;
  padding: 4px 40px;
}

.tools-content {
  flex-wrap: wrap;
}

.tools-list {
  max-width: 416px;
  border-radius: 16px;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  margin-bottom: 24px;
  color: #020202;
}
.tools-list:hover .tool-img img {
  transform: scale(1.25);
}
.tools-list .tool-img {
  overflow: hidden;
}
.tools-list .tool-img img {
  transition: transform 0.3s;
}
.tools-list .tools-info,
.tools-list .tools-ai,
.tools-list .tools-tag {
  padding: 20px 32px;
}
.tools-list .tools-info .tools-info-title {
  font-size: 1.25rem;
  margin-bottom: 12px;
}
.tools-list .tools-info .tools-info-content {
  font-size: 0.875rem;
  color: #525252;
  min-height: 42px;
}
.tools-list .tools-ai,
.tools-list .tools-tag {
  border-top: 1px solid #f2f2f2;
}
.tools-list .tools-ai p {
  font-weight: 700;
}

.tools-pagination {
  margin-top: 16px;
  justify-content: flex-end;
}
.tools-pagination li {
  margin-left: 4px;
  transition: outline 0.3s;
  border-radius: 16px;
}
.tools-pagination li:hover:not(:last-child) {
  outline: 1px solid #020202;
  background: transparent;
  color: #fff;
}
.tools-pagination li a {
  color: #020202;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  line-height: 48px;
  text-align: center;
}
.tools-pagination li a span {
  line-height: 48px;
}
.tools-pagination .tools-pagination-style {
  background: #020202;
  color: #fff;
}

.callToAction {
  margin: 80px auto;
  padding: 80px 0;
  flex-wrap: wrap;
  justify-content: center;
}
.callToAction h2 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.callToAction a {
  line-height: 1.2;
  transition: all 0.3s;
}
.callToAction a:hover {
  color: #cccccc;
  border-color: #cccccc;
}
.callToAction a span {
  margin-left: 16px;
}

.sitemap {
  padding: 80px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.sitemap .sitemap-list li:first-child {
  margin-bottom: 8px;
}
.sitemap .sitemap-list a {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
  transition: color 0.3s;
}
.sitemap .sitemap-list a:hover {
  color: #cccccc;
}
.sitemap .sitemap-img img {
  height: 40px;
}

.footer {
  padding: 20px 0;
  font-weight: 700;
}
.footer .copyright {
  padding: 12px 80px 12px 0;
}
.footer .social a {
  padding: 12px 20px;
  transition: color 0.3s;
}
.footer .social a:hover {
  color: #cccccc;
}
.footer .top {
  margin-left: auto;
}
.footer .top a {
  padding: 12px 0;
}
.footer .top span {
  font-size: 0.875rem;
  margin-left: 12px;
}

.container-top .price-banner {
  margin-bottom: 120px;
}

.price-banner h3 {
  font-size: 3rem;
  margin: 80px 0 238px auto;
  margin-top: 80px;
  margin-left: auto;
  max-width: 636px;
}
.price-banner .banner-animation {
  -moz-text-align-last: left;
       text-align-last: left;
}

.price .price-head h2 {
  font-size: 2rem;
  margin-bottom: 80px;
}
.price .price-list {
  flex-wrap: wrap;
}
.price .price-list .price-list-item {
  flex-basis: 636px;
  flex-shrink: 0;
  border: 1px solid #525252;
  border-radius: 16px;
  margin-bottom: 24px;
}
.price .price-list-info,
.price .price-list-directions {
  padding: 20px 32px;
}
.price .price-list-info {
  min-height: 254px;
}
.price .price-list-info h3 {
  font-size: 2rem;
  margin-bottom: 12px;
}
.price .price-list-info ul {
  list-style: disc;
  margin-left: 32px;
}
.price .price-list-directions {
  border-top: 1px solid #525252;
}
.price .price-list-directions span {
  font-size: 1.25rem;
  color: #919191;
  line-height: 1.2;
}
.price .price-list-directions strong {
  font-size: 1.25rem;
  font-weight: 900;
  color: #fff;
}
.price .price-list-directions a .material-icons {
  margin-left: 12px;
  color: #fff;
  font-size: 1rem;
}

.norm h2 {
  font-size: 2rem;
}
.norm .norm-list {
  flex-direction: column;
}
.norm .norm-list li {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #525252;
}
.norm .norm-list h3 {
  font-size: 3rem;
  margin-bottom: 24px;
}
.norm .norm-list p {
  font-size: 2rem;
  line-height: 1.2;
}

.qa {
  margin: 160px 0;
}
.qa h2 {
  font-size: 2rem;
}
.qa .qa-list {
  flex-direction: column;
  max-width: 856px;
  flex-basis: 856px;
}
.qa .qa-list li {
  cursor: pointer;
  padding: 20px 40px;
  border: 1px solid #525252;
  border-radius: 16px;
}
.qa .qa-list li:not(:last-child) {
  margin-bottom: 16px;
}
.qa .qa-list-icon {
  margin-right: 20px;
}
.qa .qa-list-content h3 {
  font-size: 1.25em;
}
.qa .qa-list-content p {
  display: none;
  padding-top: 20px;
}
.qa .qa-list-icon-remove {
  display: none;
}

@media (max-width: 576px) {
  .container-top {
    padding: 0 12px;
  }
  .container-top > div.service {
    margin-bottom: 120px;
  }
  .container-top > div.partner {
    margin-bottom: 48px;
  }
  .header {
    margin-bottom: 0;
  }
  .header .logo a {
    width: 147px;
    height: 24px;
  }
  .header .menu {
    display: none;
  }
  .header .menu-btn {
    display: block;
  }
  .header .menu-btn-close {
    display: none;
  }
  .banner h2 {
    max-width: 285px;
    font-size: 3rem;
  }
  .banner .banner-animation {
    text-align: center;
    margin-top: 180px;
  }
  .banner .banner-animation span {
    width: 117px;
  }
  .price-banner h3 {
    font-size: 1.75rem;
    max-width: 255px;
    margin-bottom: 258px;
  }
  .container > .price {
    margin-bottom: 120px;
  }
  .price .price-head h2 {
    font-size: 1.25rem;
    margin-bottom: 24px;
  }
  .price .price-list .price-list-item {
    flex-basis: 100%;
    margin-bottom: 12px;
  }
  .price .price-list .price-list-item:last-child {
    margin-bottom: 0;
  }
  .price .price-list-info, .price .price-list-directions {
    padding: 20px;
  }
  .price .price-list-info {
    min-height: 176px;
  }
  .price .price-list-info ul {
    color: #f2f2f2;
  }
  .service .service-head {
    flex-direction: column;
  }
  .service .service-head h2 {
    font-size: 1.25rem;
    flex-basis: auto;
    margin-bottom: 24px;
  }
  .service .service-head h3 {
    font-size: 2rem;
  }
  .service .service-list {
    flex-wrap: wrap;
  }
  .service .service-list li {
    width: 100%;
    padding: 40px 20px;
  }
  .service .service-list li:not(:last-child) {
    margin-bottom: 12px;
  }
  .container-top .norm {
    margin-bottom: 120px;
  }
  .norm {
    flex-direction: column;
  }
  .norm h2 {
    font-size: 1.25rem;
    margin-bottom: 48px;
  }
  .norm .norm-list li {
    margin-bottom: 24px;
  }
  .norm .norm-list li:last-child {
    margin-bottom: 0;
  }
  .norm .norm-list h3 {
    font-size: 2rem;
  }
  .norm .norm-list p {
    font-size: 1rem;
  }
  .partner h2 {
    font-size: 1.25rem;
  }
  .partner li:nth-child(2) {
    margin-top: 12px;
  }
  .partner .partner-list::before,
  .partner .partner-list::after {
    width: 80px;
    height: 92px;
  }
  .recommend-list li {
    padding: 20px;
  }
  .recommend-list .recommend-content {
    min-height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .swiper {
    padding-bottom: 36px;
  }
  .bg-white {
    padding: 80px 12px;
    border-radius: 20px;
  }
  .bg-white .container {
    width: 100%;
  }
  .tools .tools-title {
    font-size: 2rem;
    max-width: 285px;
    margin: 0 auto;
    text-align: center;
  }
  .tools input[type=search] {
    margin-bottom: 16px;
    margin-top: 32px;
  }
  .tools .tools-filter {
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
  .tools .tools-filter-list {
    width: 100%;
    order: 1;
    margin-top: 16px;
    overflow-x: scroll;
  }
  .tools .tools-filter-list::-webkit-scrollbar {
    display: none;
  }
  .tools .tools-filter-list li {
    flex-shrink: 0;
  }
  .tools .tools-list {
    margin-bottom: 12px;
  }
  .tools .tools-list:last-child {
    margin-bottom: 0;
  }
  .tools .tools-list .tool-img {
    flex-basis: 312px;
  }
  .tools .tools-list .tool-img img {
    width: auto;
    height: 100%;
  }
  .tools .tools-tag .material-icons {
    color: #020202;
    vertical-align: middle;
  }
  .tools .tools-pagination {
    margin-top: 32px;
    justify-content: center;
  }
  .tools .tools-pagination li:nth-of-type(6) {
    display: none;
  }
  .callToAction h2 {
    font-size: 2rem;
    text-align: center;
    max-width: 228px;
  }
  .callToAction .btn {
    margin-top: 32px;
  }
  .qa {
    margin: 120px 0;
    flex-direction: column;
  }
  .qa h2 {
    margin-bottom: 24px;
    font-size: 1.25rem;
  }
  .qa .qa-list {
    flex-basis: auto;
  }
  .qa .qa-list li {
    padding: 20px;
  }
  .sitemap {
    flex-direction: column;
  }
  .sitemap .sitemap-img {
    order: -1;
    margin-bottom: 40px;
  }
  .sitemap .sitemap-img img {
    width: auto;
  }
  .sitemap .sitemap-list a {
    font-size: 3rem;
  }
  .container-bottom {
    padding: 0 12px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer .social {
    width: 100%;
    order: 1;
    margin-top: 12px;
  }
  .footer .social a {
    padding: 12px 20px 12px 0;
  }
}/*# sourceMappingURL=style.css.map */